{% extends "base.html" %}

{% block content %}

<h1>Dashboard Diário</h1>

<div class="cards">


    <div class="card">
        <h3> Total de NFs</h3>
        <p>{{ total }}</p>
    </div>

    <div class="card">
        <h3>Pendentes</h3>
        <p>{{ pendentes }}</p>
    </div>

    <div class="card">
        <h3>Prontas</h3>
        <p>{{ prontas }}</p>
    </div>

    <div class="card">
        <h3>% Pendentes</h3>
        <p>{{ porcentagem_pendentes }}</p>
    </div>

    <div class="card">
        <h3>% Prontas</h3>
        <p>{{ porcentagem_prontas }}</p>
    </div>

</div>

<h2>Notas por Transportadoras</h2>

<table border="1">

    <tr>
        <th>Transportadora</th>
        <th>Total</th>
    </tr>

    {% for transportadora in totais_transportadoras %}

    <tr>
        <td>{{ transportadora[0] }}</td>
        <td>{{ transportadora[1] }}</td>
    </tr>

    {% endfor %}
    
</table>
{% endblock %}