{% extends "base.html" %}

{% block content %}

<h1>Leitura de Notas</h1>

<div class="card-form">

    <h2> Cadrastro de Nota Fiscal</h2>

    <form method="POST">

        <label>Número da NF</label><br>

        <input
            type="text"
            name="numero_nf"
            required
        >

        <br><br>

        <label>Transportadora</label>

        <select
            name="transportadora_id"
            required
        >
            {% for transportadora in transportadoras %}

            <option value="{{ transportadora[0] }}">
                {{ transportadora[1] }}
            </option>
            
            {% endfor %}

        </select>

        <br><br>

        <button class="btn" type="submit">
            Cadastrar
        </button>

    </form>
</div>

<hr>

<h2>Pesquisar Nota</h2>

<form method="GET">

    <input
        type="text"
        name="pesquisa"
        placeholder="Número da NF"
        value="{{ request.args.get('pesquisa','') }}"
    >

    <button type="submit">
        Pesquisar
    </button>

    <a href="{{ url_for('leitura') }}"
    <button type="button">
      Limpar
    </button>

</form>

<br><br>

<h2>Notas cadastradas</h2>

<table border="1">

    <tr>
        <th>NF</th>
        <th>Transportadora</th>
        <th>Status</th>
        <th>Hora Pronta</th>
        <th>Ação</th>
    </tr>

    {% for nota in notas %}

    <tr>
        <td>{{ nota[1] }}</td>

        <td>{{ nota[2] }}</td>

        <td>
            {% if nota[3] == "Pendente" %}
                <span class="status status-pendente">
                    {{ nota[3] }}
                </span>
            {% else %}
                <span class="status status-pronta">
                    {{ nota[3] }}
                </span>
            {% endif %}
        </td>


        <td>{{ nota[4] }}</td>

    <td>
        {% if nota[3] == "Pendente" %}

        <form
            action="{{ url_for('marcar_pronta_rota', id=nota[0] )}}"
            method="POST"
        >

            <button class="btn btn-sucess" type="submit">
                Marcar pronta
            </button>

        </form>

        {% else %}

        <form
            action="{{ url_for('voltar_pendente_rota', id=nota[0])}}"
            method="POST"
        >

            <button type="submit">
                Voltar para pendente
            </button>

        </form>

        {% endif %}

        </td>
    </tr>

    {% endfor %}

</table>
{% endblock %}